@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');
:root {
    --bg: #282828;
    --sbg: #3c3836;
    --fg: #dfbf8e;
    --accent0: #d3869b;
    --accent1: #89b482;
    --accent2: #e78a4e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5px;
    transition: 0.2s ease-in-out;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Fira Code';
    margin: 8px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 15px;
}

.qlink {
    display: flex;
    justify-content: space-around;
    min-width: 50vw;
    padding: 30px;
}

@media only screen and (max-width: 68.75em) {
    .qlink {
        grid-row: 3 / span 2;
        grid-column: 1 / span 4;
        grid-gap: 40px;
        padding: 20px;
    }
}

.category {
    border-radius: 8px;
    display: flex;
    padding-top: 14px;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
    background-color: var(--sbg);
    width: 150px;
    height: 200px;
}

.category:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.category-item {
    color: var(--fg);
    font-family: 'Fira Code';
    font-weight: 600;
    font-size: 12px;
    margin: 4px;
    text-decoration: none;
}

.item-main:hover {
    color: var(--sbg);
    padding: 2px;
    background-color: var(--accent0);
    border-radius: 5px;
}

.item-dev:hover {
    color: var(--sbg);
    padding: 2px;
    background-color: var(--accent1);
    border-radius: 5px;
}

.item-misc:hover {
    color: var(--sbg);
    padding: 2px;
    background-color: var(--accent2);
    border-radius: 5px;
}

.qlink__icon {
    width: 20px;
    height: 24px;
}
